/* Form container styling */
.formContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContainer span {
  font-weight: 800;
  font-size: 1.3rem;
}

/* Radio container Styling */
.radioContainer {
  display: flex;
  flex-direction: column;
}

/* Common styling to all input element inside radioContainer */
.radioContainer input {
  font-size: 4rem;
}

/* Common styling to all label element inside radioContainer */
.radioContainer label {
  font-weight: 600;
  font-size: 1.2rem;
}
