/* Styling for page container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  font-weight: 900;
  font-size: 2.8rem;
}

/* Common styling for radio button */
input[type="radio"] {
  transform: scale(2);
  margin-right: 15px;
  cursor: pointer;
}

/* Styling for Tooltip and hover element container */
.hoverElementAddTooltipContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  width: 90%;
  height: 50vh;
  margin-top: 20px;
}

/* Hover Element Styling */
.hoverElement {
  color: white;
  background: linear-gradient(45deg, rgb(5, 5, 62), rgb(13, 13, 64));
  width: 300px;
  height: 110px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  position: relative;
}

/* .hoverElement:hover {
  transform: scale(1.01);
} */
